@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #8bbeee;
    display: grid;
    place-items: center;
}
#resultContainer{
    font-size: 35px;

}
input{
    border-color:rgb(183, 164, 197);
    box-shadow: 0px 5px 10px rgb(190, 181, 197);
}